# Pandas

In [1]:
import pandas as pd
import numpy as np

Материалы:
* Макрушин С.В. "Лекция 2: Библиотека Pandas"
* https://pandas.pydata.org/docs/user_guide/index.html#
* https://pandas.pydata.org/docs/reference/index.html
* Уэс Маккини. Python и анализ данных

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [159]:
recipes = pd.DataFrame(pd.read_csv('data/recipes_sample.csv', parse_dates=['submitted']))


recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29998,zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

In [161]:
reviews = pd.DataFrame(pd.read_csv('data/reviews_sample.csv'))
reviews.sort_values(by='recipe_id')

,Unnamed: 0,user_id,recipe_id,date,rating,review
120108,532499,68674,48,2004-05-03,2,I picked this recipe over the other BCP recipe...
47487,532498,32421,48,2002-03-15,0,The flavor was great. But I think there was no...
102582,462146,1060485,55,2009-04-07,5,loved this! my family ate it all up! will deff...
55338,462147,851190,55,2010-05-23,5,I used Italian plum tomatoes for this as they ...
2526,462145,165567,55,2006-03-31,5,I LOVED this recipe! I was looking for a guaca...
...,...,...,...,...,...,...
64742,744576,1925885,536729,2018-08-16,5,"Loved this simple salad! DH saw it and said, &..."
31002,631001,2001285346,536747,2018-09-06,0,Such an art Beautiful
10827,631002,2002007477,536747,2018-09-06,0,Like recipe
29803,631003,1460111,536747,2018-09-26,0,Very cute cake! Love the marshmallow pom poms....
103137,631000,2001996022,536747,2018-09-06,0,THANK YOUUUU!!! I'm dying waiting for this tut...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [40]:
rows_recipes, columns_recipes, columns_type_recipes = recipes.shape[0], recipes.shape[1], recipes.dtypes
print(rows_recipes, columns_recipes)
print(columns_type_recipes)

print('---------------')

rows_reviews, columns_reviews, columns_type_reviews = reviews.shape[0], reviews.shape[1], reviews.dtypes
print(rows_reviews, columns_reviews)
print(columns_type_reviews)

30000 8
name                      object
id                         int64
minutes                    int64
contributor_id             int64
submitted         datetime64[ns]
n_steps                  float64
description               object
n_ingredients            float64
dtype: object
---------------
126696 6
Unnamed: 0     int64
user_id        int64
recipe_id      int64
date          object
rating         int64
review        object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [40]:
count_nan_recipes = recipes.isnull().sum()
print(count_nan_recipes)

print('-----------------')

count_nan_reviews = reviews.isnull().sum()
print(count_nan_reviews)

c_rows_nan_recipes = len(recipes[recipes.count(axis=1) < recipes.shape[1]]) / recipes.shape[0] * 100
c_rows_nan_reviews = len(reviews[reviews.count(axis=1) < reviews.shape[1]]) / reviews.shape[0] * 100

print('-----------------')

print(c_rows_nan_recipes, '%')
print(c_rows_nan_reviews, '%')

name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
-----------------
Unnamed: 0     0
user_id        0
recipe_id      0
date           0
rating         0
review        17
dtype: int64
-----------------
56.846666666666664 %
0.013417945317926377 %

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [24]:
mean_minutes_recipes = recipes['minutes'].mean()
mean_n_steps_recipes = recipes['n_steps'].mean()
mean_n_ingredients_recipes = recipes['n_ingredients'].mean()
print(mean_minutes_recipes, mean_n_steps_recipes, mean_n_ingredients_recipes)

mean_rating_reviews = reviews['rating'].mean()
print(mean_rating_reviews)

123.35813333333333 9.805582137161085 9.008285984848484
4.410802235271832

1.5 Создайте серию из 10 случайных названий рецептов.

In [26]:
result = pd.Series(recipes['name'].sample(n=10))
print(result)

29865                        zesty style potato wedges
13760    ho yau ngau  stir fried steak w  oyster sauce
19014                             oh so easy sweet tea
6681               chocolate no bake cookies with nuts
20815                              pineapple ice cream
10894                                 festive red slaw
15345          kidd kraddick s famous brown bag turkey
26700                                sweet onion jelly
21854                        quick  n  crunchy granola
21644                      pumpkin   sweet basil pasta
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [28]:
reviews.reindex(np.arange(1, len(reviews)))

,Unnamed: 0,user_id,recipe_id,date,rating,review
1,624300,431813,142201,2007-09-16,5,So simple and so tasty! I used a yellow capsi...
2,187037,400708,252013,2008-01-10,4,"Very nice breakfast HH, easy to make and yummy..."
3,706134,2001852463,404716,2017-12-11,5,These are a favorite for the holidays and so e...
4,312179,95810,129396,2008-03-14,5,Excellent soup! The tomato flavor is just gre...
5,910362,35106,31322,2003-01-03,4,I forgot to add skim milk but it still tasted ...
...,...,...,...,...,...,...
126691,1013457,1270706,335534,2009-05-17,4,This recipe was great! I made it last night. I...
126692,158736,2282344,8701,2012-06-03,0,This recipe is outstanding. I followed the rec...
126693,1059834,689540,222001,2008-04-08,5,"Well, we were not a crowd but it was a fabulou..."
126694,453285,2000242659,354979,2015-06-02,5,I have been a steak eater and dedicated BBQ gr...
126695,691207,463435,415599,2010-09-30,5,Wonderful and simple to prepare seasoning blen...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [31]:
recipes.loc[(recipes["minutes"] <= 20) & (recipes["n_ingredients"] <= 5)]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0
...,...,...,...,...,...,...,...,...
29873,zip and steam red potatoes with butter and garlic,304922,13,724218,2008-05-27,9.0,"i haven't tried this yet, but i am going to so...",5.0
29874,ziplock vanilla ice cream,74250,10,24386,2003-10-29,8.0,a fun thing for kids to do. may want to use mi...,3.0
29905,zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0
29980,zucchini with jalapeno monterey jack,320622,10,305531,2008-08-20,3.0,simple and yummy!,3.0
29983,zucchini with serrano ham,162411,15,152500,2006-03-31,6.0,"this dish is from tim malzer, a german chef wh...",5.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [201]:
recipes['submitted'] = pd.to_datetime(recipes['submitted'])

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [200]:
filtred_dt = recipes[(recipes['submitted'] <= pd.to_datetime('2010-12-31'))]
filtred_dt

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,decsription_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8,587.0
...,...,...,...,...,...,...,...,...,...,...
29993,Zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0,4,298.0
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5,311.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7,125.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [203]:
recipes['decsription_length'] = recipes['description'].str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,decsription_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8,587.0
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7,125.0

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [204]:
recipes['name'] = recipes['name'].str.capitalize()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,decsription_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8,587.0
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7,125.0

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [205]:
recipes['name_word_count'] = recipes['name'].str.split().str.len()
recipes

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,decsription_length
0,George s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,8,330.0
1,Healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,5,255.0
2,I can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,7,39.0
3,Italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,3,154.0
4,Love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,8,587.0
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,8,484.0
29996,Zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,4,286.0
29997,Zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,5,311.0
29998,Zydeco soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,2,648.0
29999,Cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,7,125.0

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [102]:
count = recipes['contributor_id'].value_counts()
max_from_count = max(count)

print(count)
print(max_from_count)

contributor_id
89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: count, Length: 8404, dtype: int64
421

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [25]:
rating_mean = reviews.groupby('recipe_id')['rating'].mean()
uniques_recipes_id = np.unique(reviews['recipe_id'])
recipes_with_no_reviews = recipes['id']

# количество рецептов, для которых отсутсвуют отзывы
print(len(recipes_with_no_reviews) - len(uniques_recipes_id))

# средний рейтинг к каждому из рецептов
print(rating_mean)

1900
recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [117]:
df = recipes['submitted'].dt.year.value_counts()
df

submitted
2007    4429
2008    4029
2006    3473
2005    3130
2009    2963
2002    2644
2003    2334
2004    2153
2010    1538
2011     922
2012     659
2001     589
2013     490
1999     275
2014     139
2000     104
2015      42
2017      39
2016      24
2018      24
Name: count, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [282]:
new_df = pd.merge(recipes.iloc[:, :2], reviews.iloc[:,[1,4]], how='inner', left_on='id', right_on=reviews['recipe_id'])

# количество уникальный рецептов в новом DataFrame, на которые есть отзывы
ids = np.unique(new_df['id'])
print(len(ids))

# количество всех рецептов, то же самое что и длина всего DataFrame "recipes"
ids_full = recipes['id']
print(len(ids_full))

# => количество рецептов, на которые отсуствуцют отзывы = 1900

# находим эти рецепты и получаем новый DataFrame
recipes_with_no_reviews=recipes.loc[~recipes['id'].isin(new_df['id'])]

# проверяем наличие этого рецепта в новом DataFrame new_df
recipes_with_no_reviews.iloc[1,1] in (new_df['id'])
new_df.sort_values('name')
recipes_with_no_reviews

28100
30000

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,decsription_length
26,Pasta with shrimp eggplant,223349,50,452592,2007-04-18,7.0,a nice low carb way to feel like you are eatin...,9.0,4,54.0
29,Secret ingredient bbq meatloaf,342620,75,50969,2008-12-09,9.0,"i know what you might be thinking,'ho hum, ano...",10.0,4,326.0
35,Windy s sweet and sour meatballs,276594,50,341338,2008-01-05,6.0,whenever we had a potluck lunch at the office ...,14.0,6,467.0
49,Goulashy beef stew for the slow cooker,216068,430,446143,2007-03-10,NaN,noodle beef stew in the slow cooker...easy com...,13.0,7,56.0
59,Old bay grilled steak fries,306590,20,337736,2008-05-31,NaN,"found this in a magazine, yet to try, but look...",15.0,5,56.0
...,...,...,...,...,...,...,...,...,...,...
29871,Zingy potato salad,66966,45,76596,2003-07-16,9.0,NaN,12.0,3,NaN
29903,Zucchini mock green papaya salad,249846,15,47541,2007-08-30,NaN,always searching for a new way to use zucchini...,NaN,5,283.0
29905,Zucchini and corn with cheese,256177,15,305531,2007-09-29,4.0,from betty crocker fresh spring recipes. i lik...,5.0,5,100.0
29951,Zucchini nut salad,178243,30,281399,2006-07-18,NaN,a summertime favorite of ours and a good way t...,6.0,3,64.0
29979,Zucchini with bell pepper and tomato,363362,13,344321,2009-03-29,19.0,the weather has been turning warmer and i have...,8.0,6,319.0

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [314]:
df = pd.DataFrame(pd.merge(reviews.iloc[:,[2]], recipes.iloc[:, [0]], how='inner', left_on='recipe_id', right_on=recipes['id']).groupby('recipe_id').value_counts())

#df = df.rename(columns={'X1': 'A', 'X2': 'B', 'X3': 'C', 'X4': 'D', 'X5': 'E'
df_no_reviews = pd.DataFrame(recipes_with_no_reviews.iloc[:,[1,0]])
df_no_reviews = df_no_reviews.rename(columns={'id': 'recipe_id'})
df2 = pd.concat([df, df_no_reviews], ignore_index=True)
df.set_index('index')

df

KeyError: "None of ['index'] are in the columns"

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [277]:
df1 = pd.merge(recipes.iloc[:,[1,4]], reviews.iloc[:,[4]], how='inner', left_on='id', right_on=reviews['recipe_id'])
df1 = pd.DataFrame(df1.groupby(df1.submitted.dt.year)['rating'].mean())

result = df1[df1['rating'] == df1['rating'].min()]
result

           rating
submitted
2017         2.75

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [206]:
recipes.sort_values(by='name_word_count')
recipes.to_csv('new_recipes.csv')

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,name_word_count,decsription_length
15528,Kuchen,77329,63,112825,2003-11-26,NaN,this is a german coffee cake that was handed d...,NaN,1,321.0
29455,Wimpies,75064,55,38865,2003-11-02,NaN,the best,13.0,1,9.0
23287,Salscamole,295204,2,221965,2008-03-30,NaN,a deliciously addictive mixture of salsa and g...,NaN,1,68.0
19437,Orangecicles,119528,65,169796,2005-04-28,NaN,this is a wonderful treat for a diabetic. not...,NaN,1,83.0
1587,Babaganoush,375602,40,999578,2009-06-02,10.0,easy to make and very yummy!,7.0,1,28.0
...,...,...,...,...,...,...,...,...,...,...
5734,Chicken curry or cat s vomit on a bed of magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,13,144.0
26222,Subru uncle s toor ki dal sindhi style dad m...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,14,1087.0
27876,Top secret recipes version of i h o p griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,14,129.0
28083,Tsr version of t g i friday s black bean soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,14,436.0
26223,Subru uncle s whole green moong dal i ll be ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,15,343.0

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [209]:
with pd.ExcelWriter('recipes_new.xlsx') as writer:
    new_df.to_excel(writer, sheet_name='Рецепты c оценками')
    df.to_excel(writer, sheet_name='Количество отзывов по рецептам')

#### [версия 2]
* Уточнены формулировки задач 1.1, 3.3, 4.2, 5.1, 5.2, 5.3